@import "style-template.css";

.root {
    -color-dark: __REQUIRED__;
    -color-light: __REQUIRED__;
    -color-base-0: __REQUIRED__;
    -color-base-1: __REQUIRED__;
    -color-base-2: __REQUIRED__;
    -color-base-3: __REQUIRED__;
    -color-base-4: __REQUIRED__;
    -color-base-5: __REQUIRED__;
    -color-base-6: __REQUIRED__;
    -color-base-7: __REQUIRED__;
    -color-base-8: __REQUIRED__;
    -color-base-9: __REQUIRED__;
    -color-accent-0: __REQUIRED__;
    -color-accent-1: __REQUIRED__;
    -color-accent-2: __REQUIRED__;
    -color-accent-3: __REQUIRED__;
    -color-accent-4: __REQUIRED__;
    -color-accent-5: __REQUIRED__;
    -color-accent-6: __REQUIRED__;
    -color-accent-7: __REQUIRED__;
    -color-accent-8: __REQUIRED__;
    -color-accent-9: __REQUIRED__;
    -color-success-0: __REQUIRED__;
    -color-success-1: __REQUIRED__;
    -color-success-2: __REQUIRED__;
    -color-success-3: __REQUIRED__;
    -color-success-4: __REQUIRED__;
    -color-success-5: __REQUIRED__;
    -color-success-6: __REQUIRED__;
    -color-success-7: __REQUIRED__;
    -color-success-8: __REQUIRED__;
    -color-success-9: __REQUIRED__;
    -color-warning-0: __REQUIRED__;
    -color-warning-1: __REQUIRED__;
    -color-warning-2: __REQUIRED__;
    -color-warning-3: __REQUIRED__;
    -color-warning-4: __REQUIRED__;
    -color-warning-5: __REQUIRED__;
    -color-warning-6: __REQUIRED__;
    -color-warning-7: __REQUIRED__;
    -color-warning-8: __REQUIRED__;
    -color-warning-9: __REQUIRED__;
    -color-danger-0: __REQUIRED__;
    -color-danger-1: __REQUIRED__;
    -color-danger-2: __REQUIRED__;
    -color-danger-3: __REQUIRED__;
    -color-danger-4: __REQUIRED__;
    -color-danger-5: __REQUIRED__;
    -color-danger-6: __REQUIRED__;
    -color-danger-7: __REQUIRED__;
    -color-danger-8: __REQUIRED__;
    -color-danger-9: __REQUIRED__;
    -color-fg-default: __REQUIRED__;
    -color-fg-muted: __REQUIRED__;
    -color-fg-subtle: __REQUIRED__;
    -color-fg-emphasis: __REQUIRED__;
    -color-bg-default: __REQUIRED__;
    -color-bg-overlay: __REQUIRED__;
    -color-bg-subtle: __REQUIRED__;
    -color-bg-inset: __REQUIRED__;
    -color-border-default: __REQUIRED__;
    -color-border-muted: __REQUIRED__;
    -color-border-subtle: __REQUIRED__;
    -color-shadow-default: __REQUIRED__;
    -color-neutral-emphasis-plus: __REQUIRED__;
    -color-neutral-emphasis: __REQUIRED__;
    -color-neutral-muted: __REQUIRED__;
    -color-neutral-subtle: __REQUIRED__;
    -color-accent-fg: __REQUIRED__;
    -color-accent-emphasis: __REQUIRED__;
    -color-accent-muted: __REQUIRED__;
    -color-accent-subtle: __REQUIRED__;
    -color-warning-fg: __REQUIRED__;
    -color-warning-emphasis: __REQUIRED__;
    -color-warning-muted: __REQUIRED__;
    -color-warning-subtle: __REQUIRED__;
    -color-success-fg: __REQUIRED__;
    -color-success-emphasis: __REQUIRED__;
    -color-success-muted: __REQUIRED__;
    -color-success-subtle: __REQUIRED__;
    -color-danger-fg: __REQUIRED__;
    -color-danger-emphasis: __REQUIRED__;
    -color-danger-muted: __REQUIRED__;
    -color-danger-subtle: __REQUIRED__;
    -color-chart-1: __REQUIRED__;
    -color-chart-2: __REQUIRED__;
    -color-chart-3: __REQUIRED__;
    -color-chart-4: __REQUIRED__;
    -color-chart-5: __REQUIRED__;
    -color-chart-6: __REQUIRED__;
    -color-chart-7: __REQUIRED__;
    -color-chart-8: __REQUIRED__;
    -color-chart-1-alpha70: __REQUIRED__;
    -color-chart-2-alpha70: __REQUIRED__;
    -color-chart-3-alpha70: __REQUIRED__;
    -color-chart-4-alpha70: __REQUIRED__;
    -color-chart-5-alpha70: __REQUIRED__;
    -color-chart-6-alpha70: __REQUIRED__;
    -color-chart-7-alpha70: __REQUIRED__;
    -color-chart-8-alpha70: __REQUIRED__;
    -color-chart-1-alpha20: __REQUIRED__;
    -color-chart-2-alpha20: __REQUIRED__;
    -color-chart-3-alpha20: __REQUIRED__;
    -color-chart-4-alpha20: __REQUIRED__;
    -color-chart-5-alpha20: __REQUIRED__;
    -color-chart-6-alpha20: __REQUIRED__;
    -color-chart-7-alpha20: __REQUIRED__;
    -color-chart-8-alpha20: __REQUIRED__;
    -theme-shadow-pane-bg: __REQUIRED__;
    -theme-button-bg-hover: __REQUIRED__;
    -theme-button-success-bg-focused: __REQUIRED__;
    -theme-toolbar-button-bg-hover: __REQUIRED__;
    -theme-toolbar-toggle-button-bg-selected: __REQUIRED__;
    -theme-toolbar-breadcrumb-hover-bg: __REQUIRED__;
    -theme-selection-bg: __REQUIRED__;
    -theme-selection-bg-focused: __REQUIRED__;
    -theme-menu-bar-bg: __REQUIRED__;
    -theme-menu-bar-border: __REQUIRED__;
    -theme-menu-bar-button-bg-active: __REQUIRED__;
    -theme-menu-item-bg-focused: __REQUIRED__;
    -theme-toolbar-bg: __REQUIRED__;
    -theme-toolbar-border: __REQUIRED__;
    -theme-toolbar-control-bg: __REQUIRED__;
    -theme-form-control-accent: __REQUIRED__;
    -theme-input-border-focused: __REQUIRED__;
    -theme-input-focus-effect: __REQUIRED__;
    -theme-tab-header-bg: __REQUIRED__;
    -theme-tab-header-border: __REQUIRED__;
    -theme-tab-border-selected: __REQUIRED__;
    -theme-tab-hover-bg: __REQUIRED__;
    -theme-tab-label-fg: __REQUIRED__;
    -theme-tab-close-button-bg: __REQUIRED__;
    -theme-tab-close-button-bg-selected: __REQUIRED__;
    -theme-progress-bar-track: __REQUIRED__;
    -theme-table-header-bg: __REQUIRED__;
}

.tooltip {
    -fx-effect: __REQUIRED__;
}
