@import "style-template.css";

.root {
    -color-dark: #333333;
    -color-light: #ffffff;
    -color-base-0: #ffffff;
    -color-base-1: #f8f8f8;
    -color-base-2: #eeeeee;
    -color-base-3: #dddddd;
    -color-base-4: #cecece;
    -color-base-5: #acacac;
    -color-base-6: #999999;
    -color-base-7: #666666;
    -color-base-8: #333333;
    -color-base-9: #262626;
    -color-accent-0: #edf4ff;
    -color-accent-1: #dce9ff;
    -color-accent-2: #b7d0ff;
    -color-accent-3: #8fb3ff;
    -color-accent-4: #6695f6;
    -color-accent-5: #3F80EA;
    -color-accent-6: #366dc7;
    -color-accent-7: #2f5ba5;
    -color-accent-8: #264782;
    -color-accent-9: #1a3158;
    -color-success-0: #dff0d8;
    -color-success-1: #d6e9c6;
    -color-success-2: #c8e5bc;
    -color-success-3: #a9d18e;
    -color-success-4: #5cb85c;
    -color-success-5: #449d44;
    -color-success-6: #398439;
    -color-success-7: #2b652b;
    -color-success-8: #1d451d;
    -color-success-9: #102910;
    -color-warning-0: #fcf8e3;
    -color-warning-1: #faebcc;
    -color-warning-2: #f7d799;
    -color-warning-3: #f3c266;
    -color-warning-4: #f0ad4e;
    -color-warning-5: #ec971f;
    -color-warning-6: #d58512;
    -color-warning-7: #b06d0f;
    -color-warning-8: #8a6d3b;
    -color-warning-9: #5a4524;
    -color-danger-0: #f2dede;
    -color-danger-1: #ebcccc;
    -color-danger-2: #e4b9b9;
    -color-danger-3: #dca7a7;
    -color-danger-4: #d9534f;
    -color-danger-5: #c9302c;
    -color-danger-6: #ac2925;
    -color-danger-7: #8b211d;
    -color-danger-8: #6a1916;
    -color-danger-9: #45100f;
    -color-fg-default: #333333;
    -color-fg-muted: #666666;
    -color-fg-subtle: #999999;
    -color-fg-emphasis: #ffffff;
    -color-bg-default: #ffffff;
    -color-bg-overlay: #ffffff;
    -color-bg-subtle: #f5f5f5;
    -color-bg-inset: #f5f5f5;
    -color-border-default: #dddddd;
    -color-border-muted: #dddddd;
    -color-border-subtle: #eeeeee;
    -color-shadow-default: #c0c0c0;
    -color-neutral-emphasis-plus: #333333;
    -color-neutral-emphasis: #666666;
    -color-neutral-muted: rgba(0, 0, 0, 0.08);
    -color-neutral-subtle: rgba(0, 0, 0, 0.03);
    -color-accent-fg: #3F80EA;
    -color-accent-emphasis: #3F80EA;
    -color-accent-muted: rgba(63, 128, 234, 0.35);
    -color-accent-subtle: #edf4ff;
    -color-warning-fg: #8a6d3b;
    -color-warning-emphasis: #f0ad4e;
    -color-warning-muted: rgba(240, 173, 78, 0.35);
    -color-warning-subtle: #fcf8e3;
    -color-success-fg: #3c763d;
    -color-success-emphasis: #5cb85c;
    -color-success-muted: rgba(92, 184, 92, 0.35);
    -color-success-subtle: #dff0d8;
    -color-danger-fg: #a94442;
    -color-danger-emphasis: #d9534f;
    -color-danger-muted: rgba(217, 83, 79, 0.35);
    -color-danger-subtle: #f2dede;
    -color-chart-1: #f3622d;
    -color-chart-2: #fba71b;
    -color-chart-3: #57b757;
    -color-chart-4: #41a9c9;
    -color-chart-5: #4258c9;
    -color-chart-6: #9a42c8;
    -color-chart-7: #c84164;
    -color-chart-8: #888888;
    -color-chart-1-alpha70: rgba(243, 98, 45, 0.7);
    -color-chart-2-alpha70: rgba(251, 167, 27, 0.7);
    -color-chart-3-alpha70: rgba(87, 183, 87, 0.7);
    -color-chart-4-alpha70: rgba(65, 169, 201, 0.7);
    -color-chart-5-alpha70: rgba(66, 88, 201, 0.7);
    -color-chart-6-alpha70: rgba(154, 66, 200, 0.7);
    -color-chart-7-alpha70: rgba(200, 65, 100, 0.7);
    -color-chart-8-alpha70: rgba(136, 136, 136, 0.7);
    -color-chart-1-alpha20: rgba(243, 98, 45, 0.2);
    -color-chart-2-alpha20: rgba(251, 167, 27, 0.2);
    -color-chart-3-alpha20: rgba(87, 183, 87, 0.2);
    -color-chart-4-alpha20: rgba(65, 169, 201, 0.2);
    -color-chart-5-alpha20: rgba(66, 88, 201, 0.2);
    -color-chart-6-alpha20: rgba(154, 66, 200, 0.2);
    -color-chart-7-alpha20: rgba(200, 65, 100, 0.2);
    -color-chart-8-alpha20: rgba(136, 136, 136, 0.2);
    -theme-shadow-pane-bg: -color-light;
    -theme-button-bg-hover: #e6e6e6;
    -theme-button-success-bg-focused: #449d44;
    -theme-toolbar-button-bg-hover: #e6e6e6;
    -theme-toolbar-toggle-button-bg-selected: #e6e6e6;
    -theme-toolbar-breadcrumb-hover-bg: #e6e6e6;
    -theme-selection-bg: -color-accent-subtle;
    -theme-selection-bg-focused: rgba(63, 128, 234, 0.22);
    -theme-menu-bar-bg: #ffffff;
    -theme-menu-bar-border: #dddddd;
    -theme-menu-bar-button-bg-active: #56c0e0;
    -theme-menu-item-bg-focused: #f5f5f5;
    -theme-toolbar-bg: #ffffff;
    -theme-toolbar-border: #dddddd;
    -theme-toolbar-control-bg: #ffffff;
    -theme-form-control-accent: #56c0e0;
    -theme-input-border-focused: #66afe9;
    -theme-input-focus-effect: dropshadow(gaussian, #66afe9, 10, 0, 0, 0);
    -theme-tab-header-bg: #f4f4f4;
    -theme-tab-header-border: #dddddd;
    -theme-tab-border-selected: #dddddd;
    -theme-tab-hover-bg: #eeeeee;
    -theme-tab-label-fg: #3F80EA;
    -theme-tab-close-button-bg: #3F80EA;
    -theme-tab-close-button-bg-selected: #333333;
    -theme-progress-bar-track: #f5f5f5;
    -theme-table-header-bg: #ffffff;
}

.tooltip {
    -fx-effect: dropshadow(three-pass-box, -color-shadow-default, 6px, 0.3, 0, 2);
}

.dialog-pane .content {
    -fx-text-fill: #111;
}

.swing-node {
    -fx-text-fill: #111;
}

.sys-btn-box {
    padding: -1;
}

.sys-btn-box .button {
    -fx-border-width: 0;
}

.svg-button:pressed {
    -fx-border-width: 0;
}

.svg-button {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.svg-button:pressed {
    -fx-border-width: 0;
}
